/* AnimatedTeams Component Styles */

.animated-teams-hero,
.animated-teams-outro,
.animated-teams-section {
	position: relative;
	width: 100%;
	height: 100svh;
	overflow: hidden;
	padding: 1rem;
}

.animated-teams-hero,
.animated-teams-outro {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.animated-teams-hero h1,
.animated-teams-outro h1 {
	width: 75%;
	color: var(--accent-teams, #fc694c);
	text-transform: uppercase;
	font-size: 12rem;
	font-weight: 800;
	line-height: 0.8;
}

.animated-teams-section.team {
	display: flex;
	gap: 1rem;
}

.team-member {
	flex: 1;
	position: relative;
	width: 100%;
	height: 100%;
	border: 2px dashed rgba(242, 245, 234, 0.35);
	border-radius: 1.5rem;
	will-change: transform;
	transform: translateY(125%);
}

.team-member:nth-child(1) {
	z-index: 2;
}

.team-member:nth-child(2) {
	z-index: 1;
}

.team-member:nth-child(3) {
	z-index: 0;
}

.team-member-name-initial {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.team-member-name-initial h1 {
	color: var(--accent-teams, #fc694c);
	font-size: 20rem;
	will-change: transform;
	transform: scale(0);
	text-transform: uppercase;
	font-weight: 800;
	line-height: 0.8;
}

.team-member-card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	background-color: var(--base-teams-card, #f2f5ea);
	border-radius: 1.5rem;
	will-change: transform;
}

.team-member:nth-child(1) .team-member-card {
	transform: translate(300%, -50%) scale(0.75) rotate(20deg);
}

.team-member:nth-child(2) .team-member-card {
	transform: translate(200%, -50%) scale(0.75) rotate(20deg);
}

.team-member:nth-child(3) .team-member-card {
	transform: translate(100%, -50%) scale(0.75) rotate(20deg);
}

.team-member-img {
	aspect-ratio: 1;
	border-radius: 1rem;
	margin-bottom: 1rem;
	overflow: hidden;
}

.team-member-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.team-member-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 1rem;
}

.team-member-info p {
	text-transform: uppercase;
	font-family: "DM Mono", monospace;
	font-size: 0.9rem;
	font-weight: 500;
	line-height: 1;
	color: var(--base-teams-dark, #171717);
}

.team-member-info h1 {
	font-size: 6.5rem;
	color: var(--accent-teams, #fc694c);
	text-transform: uppercase;
	font-weight: 800;
	line-height: 0.8;
}

.team-member-info h1 span {
	color: var(--base-teams-dark, #171717);
}

/* Responsive Design */
@media (max-width: 1000px) {
	.animated-teams-hero h1,
	.animated-teams-outro h1 {
		width: 100%;
		font-size: 4rem;
	}

	.animated-teams-section.team {
		height: 250svh;
		flex-direction: column;
		align-items: center;
	}

	.team-member {
		max-width: 400px;
		transform: translateY(0%) !important;
	}

	.team-member-name-initial h1 {
		transform: scale(1);
	}

	.team-member .team-member-card {
		transform: translate(-50%, -50%) scale(1) rotate(0deg) !important;
	}

	.team-member-info h1 {
		font-size: 5rem;
	}
}
