/* Work Items */
.work-items {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100%;
	padding: 2em;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	gap: 4em;
	margin-bottom: 8em;
	background-color: var(--bg);
}

.work-items .row {
	display: flex;
	gap: 2em;
}

.work-items .row .work-item {
	position: relative;
	flex: 1;
	will-change: transform, opacity;
}

.work-items .row .work-item .work-item-img {
	aspect-ratio: 5/3;
	border-radius: 1em;
	overflow: hidden;
	margin-bottom: 1em;
}

.work-items .row .work-item .work-item-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.work-items .row .work-item .work-item-img:hover img {
	transform: scale(1.05);
}

.work-items .row .work-item .work-item-content {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.work-items .row .work-item .work-item-content h3 {
	font-family: "rader", sans-serif;
	font-style: italic;
	text-transform: uppercase;
	font-size: 2rem;
	line-height: 0.95;
}

.work-items .row .work-item .work-item-content .mn {
	font-family: "supply-mono", monospace;
	font-size: 0.875rem;
}

/* Mobile Responsive */
@media (max-width: 1000px) {
	.work-items .row {
		flex-direction: column;
	}
}

